GITHUB_CLIENT=CLIENT_ID
GITHUB_SECRET=SECRET

# https://it-tools.tech/token-generator to generate a good token. Avoid Symbols.
SECRET_KEY=GZyh1tJwThg4y33sDQ8l96LWhZletrw7VX51CYZ79omDQq0ThY7pZJleHOc0G8Za

# Directories
CWD=True # CWD = Current working directory
USERDATABASE_NAME=user_database